<h2> {{title}} </h2>
<div class="row">
    <div class="col-md-5">
        <app-items-list></app-items-list>
    </div>
    <div class="col-md-7">
        {{itemsForm.value| json}}
        <form [formGroup]="itemsForm" (ngSubmit)="addItem()">
            <div class="form-group">
                Date: <input class="form-control" formControlName="date" name="date" type="date"   placeholder="date">
            </div>
            <div class="form-group">    
                Item Name: <input class="form-control" formControlName="itemName" name="itemName" type="text"  placeholder="Item name">
            </div> 
            <div class="form-group">
                Amount: <input class="form-control" formControlName="amount" name="amount" type="textbox" placeholder="amount">
            </div>    
            <hr>
            <div class="form-group">
            Description: <input class="textbox" formControlName="description" name="description" type="textbox" placeholder="Description" style="width:100%;height:40px">
            </div>
               
        </form>   
        <button type="button" class="btn btn-primary" (click)="addItem()">Add Item</button> 
        <app-money-spent></app-money-spent>
    </div>
</div>
