<div class="row">
  <div class="col-md-12">
    <h2 style="text-align: center"><b><i>Student Complete Information</i></b></h2>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h4> ID Card</h4>
        <ul class="list-group">
            <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <b style="text-align: center">John Miller </b>
                        </div>
                        <div class="col-md-6">
                          <p><b>Blood:</b> B+ve</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-7" >
                            <p><b><i>Student ID:</i></b> </p>
                            <p><b><i>Class/Section:</i></b> 5th/A</p>
                            <p><b><i>DOB:</i></b> 12-02-2010</p>
                            <p><b><i>Rank:</i></b>10th</p>
                        </div>
                        <div class="col-md-5">
                          <img class="pull-right" src="../assets/students.JPG" alt="FORM" width="100" height="100">
                        </div>
                      </div>
                    </div>
                  </div>
                 
                </div> 
                <div class="card-footer"><b>School Name</b> </div>
            </div>
        </ul>
      </div>
      <div class="col-md-6 mx-auto">
          <img  class="img-responsive" src="../assets/students.JPG" alt="FORM" width="350" height="200">
          <br><h4><i>Student Name:</i> &nbsp; </h4><br>
        <div class= "row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                  <p><b><i>Father's Name:</i></b></p>
                  <p><b><i>Father's No.:</i></b> +44 937272</p>
                  <p><b><i>Student ID:</i></b> 093721</p>
                  <p><b><i>Class/Section:</i></b> 5th/A</p>
                  <p><b><i>DOB:</i></b> 12-02-2010</p>
                  <p><b><i>Rank:</i></b>10th</p>
              </div>
              <div class="vl"></div>
              <div class="col-md-6">
                  <p><b><i>Blood Group:</i></b>O +ve </p>
                  <p><b><i>Emergency contact:</i></b> +44 193282 </p>
                  <p><b><i>Address:</i></b> saint peter,Liverpool, London, UK </p>
                  <p><b><i>Status:</i></b>&nbsp; <strong style="color:red">Active</strong>/Leave/Suspended</p>
                  <p><b><i>Email:</i></b>john.millar@school.com</p>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
              </div>
            </div>
          </div>
        </div>
        
        
        

      </div>
    </div>
  </div>
</div>
