
input{
    border-left: 0px;
    border-right: 0px;
    border-top:0px;
    
}

label{
    color:navy;   
}

label:after{
    content:"*" ;
    color:red   
}

input.ng-dirty.ng-invalid {
    color: red;
    border-left: 2px solid red;
  }
  
  input.ng-touched{
    border-left: 2px solid red;
  }

input.ng-valid{
    border-left:2px solid green;
}


