<h2>Monthly expenditure of Individuals</h2><br>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group-btn">
            <button class="btn btn-primary" style="width:300px; font-size: 25px">&nbsp;Gokul</button><hr>
          <div class="input-group-btn">
            <button class="btn btn-success">&#8377;&nbsp;</button>
            <button class="btn" style="width:200px">&nbsp;{{totalSumGokul}}/-</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
          <div class="input-group-btn">
              <button class="btn btn-primary" style="width:300px; font-size: 25px">&nbsp;Revanth</button><hr>
            <div class="input-group-btn">
              <button class="btn btn-success">&#8377;&nbsp;</button>
              <button class="btn" style="width:200px">&nbsp;{{totalSumRevanth}}/-</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<hr>














