header	{
    background-color: gray;
    text-align:center;
    padding: 10px;
    color: black;
    position: ;
}
.lastday	{
    color:black;
    background-image: url("assets/imgs/back3.jpg");
}	
#capgicon	{
    float:left;
}
#totalicon	{
    float:right;
}
img 		{
    max-width: 100%;
}	
.helios		{
    background-image: url("assets/imgs/tlogo.jpg");
    margin-left:px;
    color:;
    width:px;
    height:px;
    transition: width 1s ;
}

.helios:hover{
    background-image: url("assets/imgs/tlogo.jpg");
    transform: scale(1.2);
    background-color: white;
    
}

.pf:hover	{
    /* transform: scale(1.2); */
}	

.md:hover	{
    transform: scale(1.2);
}		

.pf			{
    background-image:url(assets/imgs/frnd.jpg); 
    color: black;
    
    
}
.md			{
    background-image:url("assets/imgs/mum2.jpg");
    color: white;
}
.container	{
    transition-delay:1s;
    transition-duration:3s;

}

body		{
    height:2510px ; 
    width:100%;
    font-family:Palatino Linotype;
    background-image:url("assets/imgs/back4.jpg");
    background-size:100% 100%;
}	

.friends	{
    background-image:url("assets/imgs/bac.jpg");
    background-repeat: no-repeat;
    color: black;
    
}
.friends1 	{
    background-image: url("assets/imgs/back3.jpg");
}

.friends2 	{
    background-image: url("assets/imgs/back3.jpg");
}

.friends1:hover	{
            transform: scale(1.2);
    
}		

.friends2:hover	{
        transform: scale(1.2);
}

.tought:hover{
    background-image:url("assets/imgs/back2.jpg");
    color: white;
    transform: scale(1.28);
}		

.thankyou:hover	{
        background-image: url("assets/imgs/thankyou1.png");
        transform: scale(1.29);
    }	
    
#contact	{
    color: black;
}	

.fixed		{

}
