<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4" id="about-left">
          <h2> Live the life long</h2>
          <img src="../assets/home2.jpeg" alt="aboutus" width="300px" height="300px" class="img-responsive">
          <h2> We are the engineers, who want the life to be simple and easy </h2>
          <article>"A variant of a branding slogan, a tagline can be used in marketing materials and advertising. 
                    The idea behind the concept is to create a memorable dramatic phrase that will sum up the tone and premise of an 
                    audio/visual product, or to reinforce and strengthen the audience's memory of a literary product."
          </article>
          <br>
          <h5> <h1><i>"</i></h1>A variant of a branding slogan,<br> a tagline can be used in marketing materials and advertising. 
              The idea behind the concept is to create a memorable dramatic phrase that will sum up the tone and premise of an 
              audio/visual product, or to reinforce and strengthen the audience's memory of a literary product.<h1><i>"</i></h1>
            </h5>
      </div>
      <div class="col-md-3">
          <h2> Live the life long</h2>
          <h2> We are the engineers, who want the life to be simple and easy </h2>
          <article>"A variant of a branding slogan, a tagline can be used in marketing materials and advertising. 
                    The idea behind the concept is to create a memorable dramatic phrase that will sum up the tone and premise of an 
                    audio/visual product, or to reinforce and strengthen the audience's memory of a literary product."
          </article>
          <br>
          <h5> "A variant of a branding slogan, a tagline can be used in marketing materials and advertising. 
              The idea behind the concept is to create a memorable dramatic phrase that will sum up the tone and premise of an 
              audio/visual product, or to reinforce and strengthen the audience's memory of a literary product."
            </h5>
      </div>
      <div class="col-md-4 col-md-offset-1"> 
        <h3> Who we are?</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <img src="../assets/home2.jpeg" id="img1" alt="img" width="210px" height="200px">
                    <br>
                    Rahul Pandey-<sub>CEO </sub>
                  </div>
                  <div class="col-md-6">
                      <img src="../assets/home2.jpeg" id="img1" alt="img" width="210px" height="200px">
                      <br>
                      Rahul Pandey-<sub>CEO </sub>
                    </div>
                </div>
              </div>
            </div><br>
            <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="../assets/home2.jpeg" id="img1" alt="img" width="210px" height="200px">
                      <br>
                      Rahul Pandey-<sub>CEO </sub>
                    </div>
                    <div class="col-md-6">
                        <img src="../assets/home2.jpeg" id="img1" alt="img" width="210px" height="200px">
                        <br>
                        Rahul Pandey-<sub>CEO </sub>
                      </div>
                  </div>
                </div> 
              </div><br>
              <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <img src="../assets/home2.jpeg" id="img1" alt="img" width="210px" height="200px">
                        <br>
                        Rahul Pandey-<sub>CEO </sub>
                      </div>
                      <div class="col-md-6">
                          <img src="../assets/home2.jpeg" id="img1" alt="img" width="210px" height="200px">
                          <br>
                          Rahul Pandey-<sub>CEO </sub>
                        </div>
                    </div>
                  </div>
  </div>
</div>
</div>
