<h2 style="background-color: navy;color: white; text-align: center">*** Cost to Individual ***</h2>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
          <table class="table table-stripped">
              <tr>
                <th>SNo.</th>
                <th>Gokul</th>
              </tr>
              <tr *ngFor="let itemGokul of amountGokul let i=index">
                <td>{{i+1}}.</td>
                <td>&#8377;&nbsp;<b>{{itemGokul}}</b>/-</td>
              </tr>
              <!-- <tr style="text-align: center; background-color: navy; color: white;">
                <td><b>Total:&nbsp;</b><i>&#8377;&nbsp;{{indiTotalGokul}} /-</i></td>
              </tr> -->
            </table>
            <div class="input-group-btn">
                <button class="btn btn-success" style="width:235px;">&nbsp;Gokul</button>
              <div class="input-group-btn">
                <button class="btn btn-danger">&#8377;&nbsp;</button>
                <button class="btn" style="width:200px">&nbsp;{{indiTotalGokul}}/-</button>
              </div>
            </div>
      </div>
      <div class="col-md-3">
          <table class="table table-stripped">
              <tr>
                  <th>SNo.</th>
                <th>Revanth</th>
              </tr>
              <tr *ngFor="let itemRev of amountRev let i=index">
                  <td>{{i+1}}.</td>
                <td>&#8377;&nbsp;<b>{{itemRev}}</b>/-</td>
              </tr>
              <!-- <tr style="text-align: center; background-color: navy; color: white;">
                <td><b>Total:&nbsp;</b><i>&#8377;&nbsp;{{indiTotalRevanth}}/-</i></td>
              </tr> -->
            </table>
            <div class="input-group-btn">
                <button class="btn btn-success" style="width:235px;">&nbsp;Revanth</button>
              <div class="input-group-btn">
                <button class="btn btn-danger">&#8377;&nbsp;</button>
                <button class="btn" style="width:200px">&nbsp;{{indiTotalRevanth}}/-</button>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h3 style="background-color: navy;color: white; text-align: center">**** Who should pay to whom **** </h3>
    <div class="row">
      <div class="col-md-6">
          <h3><b>GOKUL pay:&nbsp;</b></h3>
          <div class="input-group-btn">
              <button class="btn btn-danger">&#8377;&nbsp;</button>
              <button class="btn" style="width:200px">&nbsp;{{finalGokul}}/-</button>
          </div>
      </div>
      <div class="col-md-6">
          <h3><b>REVANTH pay:&nbsp;</b></h3> 
          <div class="input-group-btn">
              <button class="btn btn-danger">&#8377;&nbsp;</button>
              <button class="btn" style="width:200px">&nbsp;{{finalRevanth}}/-</button>
          </div>
      </div>
    </div>
  </div>
</div>