h2{
    text-align: center;
}

input.ng-invalid.ng-touched{
    border-left: 5px solid red;
}

textarea.ng-invalid.ng-touched{
    border-left: 5px solid red;
}

input{
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid grey;
}
 
textarea{
    border: 2px solid grey;
}