<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <h2><b> <i><span class="glyphicon glyphicon-car"></span>Welcome to the Amadeus Outing Survey </i></b></h2>
        <h4><i>While you're going through this process of trying to find the satisfaction in your work, 
          pretend you feel satisfied. Tell yourself you had a good day. Walk through the corridors with a smile 
          rather than a scowl. Your positive energy will radiate. If you act like you're having fun, you'll find 
          you are having fun. <br> <sub>-Jean Chatzky</sub></i>
        </h4>
        <img src="../assets/home3.jpeg" alt="home2" width="500" height="450">
      </div>
      <div class="col-md-4">
        <img src="../assets/home2.jpeg" alt="home2" width="350" height="450" >
      </div>
    </div>
  </div>
</div>

