<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <label for="image">Image</label>
        <br>
        <img src="assets/avatar.jpg" alt="imageDemo">
        <form class="form-group">
            <br>
          <label for="loginid">Login ID</label>
          <input type="text" class="form-control" id="loginid" placeholder="Enter loginId">
          <label for="password"> Password </label>
          <input type="password" class="form-control" id="passwd" placeholder="Enter password">
          <label><input type="checkbox" checked="checked" class="pull left">Remember</label>
        </form>
        <button class="btn btn-primary"> Submit </button>
      </div>
    </div>
  </div>
