
<div class="row">
  <div class="col-md-12">
    <div class="row">
    <div class="col-md-6">
          <a [routerLink]="['/student-regis']">
              <img src="../assets/form.JPG" alt="FORM" width="450" height="200">
              <h4 style="color:black"><b>Student Registration</b></h4>
              <p style="color:black"> Register for the school and Join us to excel in your career</p>
            </a>
    </div>
    <div class="col-md-6">
        <a [routerLink]="['/student-details']" >
            <img src="../assets/students.JPG" alt="FORM" width="450" height="200">
            <h4 style="color:black"><b>Student Details</b></h4>
            <p style="color:black"> Search for the student applications.</p>
        </a>
    </div>
  </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="row">
      <div class="col-md-6">
            <a href ="#">
                <img src="../assets/progress.JPG" alt="FORM" width="450" height="200">
                <h4 style="color:black"><b>Student Progress</b></h4>
                <p style="color:black"> Register for the school and Join us to excel in your career</p>
              </a>
      </div>
      <div class="col-md-6">
          <a href ="#">
              <img src="../assets/awards.JPG" alt="FORM" width="450" height="200">
              <h4 style="color:black"><b>Student Awards</b></h4>
              <p style="color:black"> Search for the student applications.</p>
          </a>
      </div>
    </div>
    </div>
  </div>
  
